In [ ]:
# SECTION A

1. Write a Python program to find the second largest number in 
a list without using the sort() method.

In [ ]:
data = [55, 1, 45, 68, 159, 75, 5, 159]

def find_second_maximum(list1):
    first_max = max(list1[0], list1[1])
    second_max = min(list1[0], list1[1])

    for i in range(2, len(list1)):
        if list1[i] > first_max:
            second_max = first_max
            first_max = list1[i]
        elif second_max < list1[i] < first_max:
            second_max = list1[i]
    return second_max

print("Second maximum number is:", find_second_maximum(data))

Second maximum number is: 75

2. Remove duplicates from a list without using set() and
return it in sorted order.

In [ ]:
def remove_duplicates_sorted(lst):
    res = []
    for i in lst:
        if i not in res: res.append(i)
    return sorted(res)

print(remove_duplicates_sorted([5, 3, 1, 2, 3, 5, 4, 2]))

[1, 2, 3, 4, 5]

3. Find the sum and average of a list of numbers.

In [ ]:
def sum_and_average(lst):
    total = sum(lst)
    avg = total / len(lst)
    return total, avg

print(sum_and_average([5, 10, 15, 20]))

(50, 12.5)

4. Create a program to check if a number is prime.

In [ ]:
def is_prime(n):
    if n <= 1: return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0: return False
    return True

print(is_prime(29))

True

5. Count the number of vowels, consonants, digits, and special
characters in a given string.

In [ ]:
def count_chars(s):
    v = c = d = sc = 0
    for ch in s:
        if ch.lower() in "aeiou":
            v += 1
        elif ch.isalpha():
            c += 1
        elif ch.isdigit():
            d += 1
        else:
            sc += 1
    return v, c, d, sc

print(count_chars("Hello@123!"))

(2, 3, 3, 2)

6. Print all even numbers between 1 and 100 using a for loop.

In [ ]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

7. Write a program to print the multiplication table of a number
entered by the user.

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

8. Write a Python program to generate the first n prime
numbers.

In [ ]:
lst = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
print(lst)

[15, 30, 45, 60, 75, 90]

9. Take a number input and print its reverse.

In [ ]:
n = int(input("Enter a number: "))
rev = int(str(n)[::-1])
print("Reversed number:", rev)

Enter a number:  7

Reversed number: 7

10. Count the frequency of each character in a string and
store it in a dictionary.

In [ ]:
s = input("Enter a string: ")
freq = {}

for ch in s:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

Enter a string:  9

{'9': 1}

11. Write a Python program to generate the first n prime
numbers.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter how many prime numbers you want: "))
count = 0
num = 2

while count < n:
    if is_prime(num):
        print(num, end=' ')
        count += 1
    num += 1

Enter how many prime numbers you want:  3

2 3 5

12. Check whether a number is a palindrome or not.

In [ ]:
n = input("Enter a number: ")
if n == n[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a number:  8

Palindrome

13. Count how many times a specific element appears in a
list.

In [ ]:
lst = [1, 2, 3, 2, 4, 2, 5]
x = int(input("Enter the element to count: "))
print("Count:", lst.count(x))

Enter the element to count:  8

Count: 0

14. Create a list of squares of even numbers between 1 and 50.

In [ ]:
squares = [i**2 for i in range(2, 51, 2)]
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

15. Accept a list and return a new list with only unique
elements (preserve order).

In [ ]:
lst = list(map(int, input("Enter list elements separated by space: ").split()))
unique = []
for i in lst:
    if i not in unique:
        unique.append(i)
print("Unique list:", unique)

Enter list elements separated by space:  4

Unique list: [4]

In [ ]:
# SECTION B

16. Write a function to check if a number is even or odd.

In [ ]:
def even_or_odd(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(even_or_odd(int(input("Enter a number: "))))

Enter a number:  3

Odd

17. Create a function that takes a list of numbers and returns
their cumulative sum.

In [ ]:
def cumulative_sum(lst):
    total = 0
    result = []
    for i in lst:
        total += i
        result.append(total)
    return result

print(cumulative_sum([1, 2, 3, 4]))

[1, 3, 6, 10]

18. Write a recursive function to find the factorial of a number.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(int(input("Enter a number: "))))

Enter a number:  3

6

19. Write a function to print the Fibonacci series up to n terms.

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=' ')
        a, b = b, a + b

fibonacci(int(input("Enter number of terms: ")))

Enter number of terms:  8

0 1 1 2 3 5 8 13

20. Define a function that checks if a given string is a
palindrome.

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome(input("Enter a string: ")))

Enter a string:  6

True

21. Create a function that returns the maximum and minimum
elements from a list.

In [ ]:
def max_min(lst):
    return max(lst), min(lst)

print(max_min([10, 25, 3, 47, 5]))

(47, 3)

22. Write a function to check whether a string is a pangram.

In [ ]:
def is_pangram(s):
    s = s.lower()
    for ch in 'abcdefghijklmnopqrstuvwxyz':
        if ch not in s:
            return False
    return True

print(is_pangram(input("Enter a sentence: ")))

Enter a sentence:  6

False

23. Create a function that finds and returns all prime numbers
in a given range.

In [ ]:
def primes_in_range(start, end):
    primes = []
    for num in range(start, end + 1):
        if num > 1:
            for i in range(2, int(num**0.5)+1):
                if num % i == 0:
                    break
            else:
                primes.append(num)
    return primes

print(primes_in_range(10, 30))

[11, 13, 17, 19, 23, 29]

24. Write a function to return the number of uppercase and
lowercase letters in a string.

In [ ]:
def count_case(s):
    upper = lower = 0
    for ch in s:
        if ch.isupper():
            upper += 1
        elif ch.islower():
            lower += 1
    return upper, lower

print(count_case(input("Enter a string: ")))

Enter a string:  9

(0, 0)

25. Write a function to compute the sum of digits of a number.

In [ ]:
def sum_of_digits(n):
    return sum(int(d) for d in str(n))

print(sum_of_digits(int(input("Enter a number: "))))

Enter a number:  8

8

26. Write a function to count words in a sentence.

In [ ]:
def count_words(s):
    return len(s.split())

print(count_words(input("Enter a sentence: ")))

Enter a sentence:  I love Coding.

3

27. Create a function to remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(s):
    return ''.join(ch for ch in s if ch not in string.punctuation)

print(remove_punctuation(input("Enter a string: ")))

Enter a string:  Sap65tak

Sap65tak

28. Create a function that finds the GCD (greatest common
divisor) of two numbers.

In [ ]:
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(find_gcd(48, 18))

6

29. Write a function that takes a list and returns only those
elements that appear more than once.

In [ ]:
def find_duplicates(lst):
    result = []
    for i in lst:
        if lst.count(i) > 1 and i not in result:
            result.append(i)
    return result

print(find_duplicates([1, 2, 3, 2, 4, 5, 1, 6]))

[1, 2]

30. Create a function to return the largest of three numbers.

In [ ]:
def largest(a, b, c):
    return max(a, b, c)

print(largest(10, 25, 17))

25

In [ ]:
# SECTION C

31. Write a program to sort words in a sentence
alphabetically.

In [ ]:
s = input("Enter a sentence: ")
words = s.split()
words.sort()
print("Sorted words:", words)

Enter a sentence:  I love sleeping.

Sorted words: ['I', 'love', 'sleeping.']

32. Concatenate two dictionaries and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged = {**dict1, **dict2}
print("Merged dictionary:", merged)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

33. Count how many vowels are present in each word of a
sentence.

In [ ]:
def count_vowels_per_word(sentence):
    vowels = "aeiouAEIOU"
    words = sentence.split()
    for word in words:
        count = sum(1 for ch in word if ch in vowels)
        print(f"{word}: {count}")

count_vowels_per_word(input("Enter a sentence: "))

Enter a sentence:  This is business.

This: 1
is: 1
business.: 3

34. Accept a tuple and convert it into a list.

In [ ]:
t = tuple(input("Enter tuple elements separated by space: ").split())
lst = list(t)
print("List:", lst)

Enter tuple elements separated by space:  3,5,6,7,8

List: ['3,5,6,7,8']

35. Remove all whitespace from a given string using a
function.

In [ ]:
def remove_whitespace(s):
    return s.replace(" ", "")

print(remove_whitespace(input("Enter a string: ")))

Enter a string:  Hand s o me

Handsome

36. Merge two lists into a dictionary using one as keys and the
other as values.

In [ ]:
keys = input("Enter keys separated by space: ").split()
values = input("Enter values separated by space: ").split()

merged = dict(zip(keys, values))
print("Merged dictionary:", merged)

Enter keys separated by space:  4 6 7
Enter values separated by space:  234 567

Merged dictionary: {'4': '234', '6': '567'}

37. Write a program to get the key with the maximum value in
a dictionary.

In [ ]:
data = {'a': 10, 'b': 25, 'c': 17}
max_key = max(data, key=data.get)
print("Key with maximum value:", max_key)

Key with maximum value: b

38. Accept a string and print a dictionary with word
frequencies.

In [ ]:
s = input("Enter a sentence: ")
words = s.split()
freq = {}

for word in words:
    freq[word] = freq.get(word, 0) + 1

print("Word frequencies:", freq)

Enter a sentence:  This is Awesome.

Word frequencies: {'This': 1, 'is': 1, 'Awesome.': 1}

39. Write a program to check if a key exists in a dictionary.

In [ ]:
data = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
key = input("Enter key to check: ")

if key in data:
    print("Key exists.")
else:
    print("Key does not exist.")

Enter key to check:  Paris

Key does not exist.

40. Write a program to replace all the vowels in a string with
'*'.

In [ ]:
def replace_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join('*' if ch in vowels else ch for ch in s)

print(replace_vowels(input("Enter a string: ")))

Enter a string:  Batman

B*tm*n

In [ ]:
# SECTION D

41. Write a Python program to read the contents of a file and
display it.

In [ ]:
open("example.txt", "w").write("This is sample content.")
print(open("example.txt").read())

This is sample content.

In [ ]:
f = open("example.txt")
print(f.read())
f.close()

This is sample content.

42. Count the number of words in a file.

In [ ]:
f = open("example.txt")
words = f.read().split()
print("Word count:", len(words))
f.close()

Word count: 4

43. Copy contents of one file to another.

In [ ]:
f1 = open("example.txt", "r")
f2 = open("copy.txt", "w")
f2.write(f1.read())
f1.close()
f2.close()

44. Print only the lines that have more than 50 characters
from a text file.

In [ ]:
with open("example.txt", "r") as f:
    for line in f:
        if len(line.strip()) > 50:
            print(line.strip())

45. Write a program to write a list of strings into a text file (one
string per line).

In [ ]:
lines = ["Hello", "Python", "File Writing", "Done"]
with open("output.txt", "w") as f:
    for line in lines:
        f.write(line + "\n")

In [ ]:
# SECTION E

46. Write a program to take two numbers as input and handle
division by zero.

In [ ]:
try:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

Enter first number:  45
Enter second number:  32

Result: 1.40625

47. Handle invalid user input (e.g., entering a string when a
number is expected).

In [ ]:
try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a number:  34

You entered: 34

48. Try to open a file that doesnâ€™t exist and handle the
FileNotFoundError.

In [ ]:
try:
    f = open("nonexistent.txt", "r")
    print(f.read())
    f.close()
except FileNotFoundError:
    print("Error: File not found.")

Error: File not found.

49. Create a list of numbers and try accessing an invalid
index. Handle the exception gracefully.

In [ ]:
nums = [10, 20, 30, 40]

try:
    index = int(input("Enter index to access: "))
    print("Value:", nums[index])
except IndexError:
    print("Error: Invalid index.")

Enter index to access:  3

Value: 40

50. Use a try-except-finally block to demonstrate the
execution of the finally clause.

In [ ]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print("Result:", y)
except ZeroDivisionError:
    print("Cannot divide by zero.")
finally:
    print("This block always runs (finally clause).")

Enter a number:  7

Result: 1.4285714285714286
This block always runs (finally clause).